{% extends 'todolist/base.html' %}
{% load staticfiles %}

{% block details %}
<div class="container">
  <header id="main_header">
{#          <div class="alert alert-info" role="alert">#}
    <div class="alert alert-info" role="alert">
      <div class="card" style="width: 50rem">
        <div class="card-block">
          <a href="{% url "todolist:index" %}"><< Go Back</a>
          <br>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h1>{{ todo.title }}</h1>
              </div>
            <div class="panel-body">
              <p>{{ todo.text }}</p>
            </div>
          </div>
          <br>
          Created on {{todo.created_at}}
        </div>
      </div>
    </div>
  </header>
</div>
{% endblock %}