{% extends 'todolist/base.html' %}
{% load staticfiles %}


{% block index %}
    {% if username.is_authenticated and creator_id %}

    <div class="container">
    <div class="">
        <header id="main_header">
          <h1>TodoList</h1>
            <a href="{% url "todolist:add" %}" class="btn btn-default">Add Todo</a>
            <hr>
        </header>
    <div class="todolist">
      <strong><h2>Todo Items:</h2></strong>
        {% for todo in todos %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>
                        <a class="btn btn-link" href="/todolist/details/{{todo.id}}/" role="button">{{todo.title}}</a>
                        {% if todo.priority == 1 %}
                           <font color="red" class="importance">Urgent</font>
                        {% endif %}
                        {% if todo.priority == 2 %}
                           <font color="blue" class="importance">Caution</font>
                        {% endif %}
                        {% if todo.priority == 3 %}
                           <font color="green" class="importance">Smooth</font>
                        {% endif %}
                        <font color="red" class="ddl_tag pull-right">Deadline :{{todo.deadline}}</font>
                    </strong>
                </div>
                <div class="panel-body">
                    <div>{{todo.text}}
                        <div class="btn-group pull-right" role="group" aria-label="Basic example">
                            <a href="/todolist/edit/{{todo.id}}/" type="button" class="btn btn-secondary btn-info">Edit</a>
                            <a href="/todolist/delete/{{todo.id}}/" type="button" class="btn btn-secondary btn-danger">Delite</a>
                            <a href="/todolist/finished/{{todo.id}}/" type="button" class="btn btn-secondary btn-success">Finished</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>

    <div class="finishedlist">
    <h2>Finished Items:</h2>
    {% for todo in finishedtodos %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>
                <font color="red" class="ddl_tag pull-right">Finished at: {{todo.finished_at}}</font>
            </div>
            <div class="panel-body">
                {{todo.text}}
                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                  <a href="/todolist/edit/{{todo.id}}/" type="button" class="btn btn-secondary btn-info">Edit</a>
                  <a href="/todolist/delete/{{todo.id}}/" type="button" class="btn btn-secondary btn-danger">Delite</a>
                  <a href="/todolist/finished/{{todo.id}}/" type="button" class="btn btn-secondary btn-success">Unfinished</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}

        <div class="container">
          <header id="main_header">
            <div class="alert alert-info" role="alert">
              <div class="card" style="width: 50rem">
                <div class="card-block">
                  <h1 class="card-title">Welcome to the Prototype App</h1>
                  <h3 class="card-text">This is the home page for the TODO application.</h3>
                  <a href="{% url "auth:login" %}" class="btn btn-primary">Sing up</a>
                </div>
              </div>
            </div>
          {% block login %}{% endblock %}
          </header>
        </div>
    {% endif %}
{% endblock %}